
#logo,#logo-mobile {
  margin-top: 100px;
}

#logo img {
  max-height: 140px;
  // max-width: 100%;
}

#search-form {
  margin-top: 20px;
}

#slogan {
  margin-top: 10px;
}

#slogan p {
  text-align: center;
  font-size: 16px;
}

.small-pic img {
  max-height: 70px;
}

.very-small-pic img {
  max-height: 50px;
  float: left;
}

.vspace {
  height: 100px;
}

footer {
  margin-bottom: 20px;
  margin-left: 20px;
}
